<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
  </head>
  <body>
    <form method="post" action="/auth/sing-up" class="reg-log-form">
      <input type="text" name="username" placeholder="Имя пользователя" />
      <input type="password" name="password" placeholder="Пароль" />
      <input
        type="password"
        name="secpassword"
        placeholder="Повторите пароль"
      />
      <button type="submit" class="auth-btn">Sing up</button>
    </form>
  </body>
</html>
