<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form method="post" action="/singIn" class="reg-log-form">
        <input type="text" name="userName" placeholder="Имя пользователя">
        <input type="password" name="password" placeholder="Пароль">
        <input type="password" name="repeatedPassword" placeholder="Повторите пароль">
    </form>
</body>
</html>